*{
    font-family: Arial, Helvetica, sans-serif;
    
}
    body, .write-up {
    color: #fff; 
    margin: 0;
    padding: 0;
    
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.custom-navbar {
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0;
    z-index: 1020; /* Ensures the navbar stays above other elements */
    background-color: #343a404e; /* Maintains its background color */
}

.custom-navbar .navbar-brand,
.custom-navbar .nav-link {
    color: white; 
}

.custom-navbar .nav-link:hover {
    color: #adb5bd; 
}

@media (min-width: 1000px) {
    .contact {
        margin-left: auto;
    }
}


h1 {
    color: #ffffff; 
}

p {
    line-height: 2;
}
ul{
    font-weight: bold;
}
.Technical{
    font-weight: bolder;
}

.Home{
    text-align: center;
    font-weight: bolder;
}

a{
    color: aquamarine;
}
html, body{
    overflow: visible;
}