* {
	font-family: monospace;
}

@media (max-width: 1000px) {
	.Me {
		width: 80px;
		height: 80px;
		border: 3px solid #000000;
	}

	.center-container {
		padding: 10px;
		height: auto;
	}

	.social-links {
		gap: 5px;
		flex-wrap: wrap;
	}

    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23666666' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
    }
    

	.custom-navbar .navbar-brand {
		font-size: 1.2em;
	}

	.custom-navbar .nav-link {
		margin-left: 10px;
		font-size: 0.9em;
	}


	.Line {
		font-size: large;
		word-spacing: 3px;
	}

	.linkedin-png,
	.github-png,
	.facebook-png,
	.tryhackme-png,
	.medium-png
	{
		width: 30px;
		height: 30px;
		padding: 3px;
	}
	.contact {
		margin: -10;
	}
    
}

/* Profile picture styling */
.Me {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	object-fit: cover;
	border: 6px solid #000000;
	box-shadow: 0 4px 8px rgb(89, 88, 88);
	position: relative;

}

/* Centering container */
.center-container {
	display: flex;
	flex-direction: column; /* Stack elements vertically */
	justify-content: center; /* Center horizontally */
	align-items: center; /* Center vertically */
	height: 100vh;
	/* margin: -5px; */
}

/* Background styling */
body::before{
	content: "";
	position: fixed;
	top: -20px;
	left: -20px;
	width: calc(100% + 40px);
	height: calc(100% + 40px);
	background-color: #121212;
	/* 008080*/
	/* background-image: url("https://th.bing.com/th/id/R.0dacd4acac8020b29e0821cd62f7158b?rik=9aDq6vNGUWq2Uw&pid=ImgRaw&r=0"); */

	/* background-image: url("images/icons/1706630744031.jpeg"); */
	background-repeat: no-repeat;
	background-size: cover;
	filter: blur(10px); /* Apply blur only to background */
	z-index: -1;
}

/* Flex container for social icons */
.social-links {
	/* filter: brightness(150%); */
	display: flex;
	justify-content: center; /* Aligns icons horizontally */
	align-items: center; /* Aligns icons vertically */
	gap: 20px; /* Space between icons */
	margin-top: 20px; /* Slight margin from the profile image */
}

/* LinkedIn icon styling */
.linkedin-png {
	width: 40px;
	height: 40px;
	border-radius: 50%; /* Circle effect */
	padding: 5px;
	background-color: #2e2e2e;
	display: block; /* Ensures image is displayed correctly */
	object-fit: cover;
	transition: background-color 0.3s ease;
}

/* GitHub icon styling */
.github-png {
	width: 40px;
	height: 40px;
	background-color: #2e2e2e;
	border-radius: 50%; /* Circle effect */
	padding: 5px;
	display: block; /* Ensures image is displayed correctly */
	object-fit: cover;
	transition: background-color 0.3s ease;
}

.facebook-png {
	width: 40px;
	height: 40px;
	border-radius: 50%; /* Circle effect */
	background-color: #2e2e2e;
	/* background-color: #212121; */
	padding: 5px;
	display: block; /* Ensures image is displayed correctly */
	object-fit: cover;
	transition: background-color 0.3s ease;
}

.Line{
	color: #ffffff;
	font-weight: bold;
	font-family: monospace;
	font-size: x-large;
	word-spacing: 5px;
	height: 5px;
}

.tryhackme-png {
	width: 40px;
	height: 40px;
	border-radius: 50%; /* Circle effect */
	background-color: #2e2e2e;
	/* background-color: #212121; */
	padding: 5px;
	display: block; /* Ensures image is displayed correctly */
	object-fit: cover;
	transition: background-color 0.3s ease;
}

.medium-png {
	width: 40px;
	height: 40px;
	border-radius: 50%; /* Circle effect */
	background-color: #2e2e2e;
	/* background-color: #212121; */
	padding: 5px;
	display: block; /* Ensures image is displayed correctly */
	object-fit: cover;
	transition: background-color 0.3s ease;
}



.medium-png:hover,
.medium-png:focus {
	background-color: #66cdaa;
}

.tryhackme-png:hover,
.tryhackme-png:focus {
	background-color: #ff0000b1;
}

.facebook-png:hover,
.facebook-png:focus {
	background-color: #0165e1;
}

.github-png:hover,
.github-png:focus {
	background-color: #ffffff;
}

.linkedin-png:hover,
.linkedin-png:focus {
	background-color: #0a66c2;
}

.custom-navbar {
	background-color: #343a404e; /* Dark gray background */
}

.custom-navbar .navbar-brand,
.custom-navbar .nav-link {
	color: white; /* White text for links */
}

.custom-navbar .nav-link:hover {
	color: #adb5bd; /* Light gray on hover */
}

@media (min-width: 1000px) {
    .contact{
        margin-left: auto;
    }
    
}


body {
	overflow: hidden;
}
